  div.flex-container{
 display: flex;
  }
  .card {
    flex: 0 0 30%;
    box-shadow: 5px 5px darkgrey;
    margin: 10px;
  }
  .card-img-top{
    width: 100%;
  }
  .btn.btn-info{ 
      border-radius: 5px;
      color:darkblue;
      margin-left: 10px;
  }
  .btn.btn-info:hover{
    background-color: rgb(102, 173, 231);
  }
